body {
    min-height: 100vh;
}

.outer {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.mapContainer {
    flex-grow: 1;
}

.sidebarStyle {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    background-color: #404040;
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: bold;
}

.pageContainer {
    padding-top: 30px;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 30px;
}

.submitCard .card-img-top {
    object-fit: cover;
    height: 30vh;
}
